<section class="py-5">
    <div class="container">
        <h1 style="margin: 2%; text-align: center;">Add Trip</h1>
        <div style="padding: 5%;">
            <form method="post">
                <div class="form-group">
                    <label for="startPoint">Starting Point</label>
                    <input type="text" class="form-control" id="startPoint" name="StartPoint" value="Varna">
                </div>
                <div class="form-group">
                    <label for="endPoint">End Point</label>
                    <input type="text" class="form-control" id="endPoint" name="EndPoint" value="Sofia">
                </div>
                <div class="form-group">
                    <label for="departureTime">Departure Time</label>
                    <input type="text" class="form-control" id="departureTime" name="DepartureTime" value="12.12.23 12:00">
                </div>
                <div class="form-group">
                    <label for="imagePath">Car Image</label>
                    <input type="text" class="form-control" id="imagePath" name="ImagePath" value="https://zdrave.to/media/source/202301/1674257354_43.jpg">
                </div>
                <div class="form-group">
                    <label for="seats">Seats</label>
                    <input min="2" max="6" type="number" class="form-control" id="seats" name="Seats" value="4">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text" class="form-control" id="description" name="Description" value="Varna - V. Tarnovo - Sofia">
                </div>
                <button type="submit" class="btn btn-primary text-uppercase">Submit</button>
            </form>
        </div>
    </div>
</section>